
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

body{
    /*font-family: Helvetica, sans-serif;*/
    font-family: "Inconsolata", sans-serif;
    /*padding-top: 56px;*/    
    background-color: rgb(125,152,161);
}

.header{
  display:grid;
  position:relative;
  z-index:1000;
}


.about-me{

    display: grid;
    padding-top:5%;
    padding-bottom:5%;
    grid-template-columns: 800px 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    font: 800 100%/1.5;
    font-size:x-large;
    animation-delay: 4s;

}
.about-me-text h2{
  font-weight:500;
  margin-bottom: 5%;  
  font-size:xx-large;
  font: "Inconsolata"
  
}
.about-me-text{
  padding:30px;
}
.about-me img{
  max-height:350px;
  max-width: 100%;
  position: relative;
  float:none;
  margin-left: 15%;
}

@media (max-width: 800px) {
  .about-me {
    display: block;
    font-size: 80%;
  }

} 

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    
  }


.intro {
  z-index: 20;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top:20px;
    height: 560px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("https://images.unsplash.com/photo-1534078362425-387ae9668c17");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position:relative;
  }
  .intro h1 {
    font-family: Inconsolata;
    font-size: 80px;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
  }
  .intro h1:hover {
    color: peachpuff;
  }
  
  @media (max-width: 600px) {
    .intro h1 {
      font-size: 60px; /* Adjust the font size for smaller screens */
    }
  }
  
  @media (max-width: 400px) {
    .intro h1 {
      font-size: 40px; /* Adjust the font size for even smaller screens */
    }
  }
  

  .intro h1.pop {
    animation: 3s abah ease;
  }
  

  @keyframes abah {
    0% {
      color: rgb(255, 255, 255);
      transform: scale(0);
      opacity: 0;
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    25% {
      color: rgb(172, 172, 172);
      transform: scale(2);
      opacity: 1;
      text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
    }
    50% {
      color: rgb(252, 252, 252);
      transform: scale(1);
      opacity: 1;
      text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      /* animate nothing to add pause at the end of animation */
      transform: scale(1);
      opacity: 1;
      text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
    }
  }
img, video{
    background-color: rgb(211, 210, 222);
    border-radius: 3%;
}

.testArea{
    display: none;
}

.introArea{
    display: block;
}

.loader {
    border: 16px solid #bdbdbd; /* Light grey */
    border-top: 16px solid #292929; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  

.beginButton {
  align-items: center;
  background-color: #848484;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inconsolata;
  font-size: 20px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.beginButton:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.beginButton:hover:after {
  transform: translate(0, 0);
}

.beginButton:active {
  background-color: #646464;
  outline: 0;
}

.beginButton:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .beginButton {
    padding: 0 40px;
  }
}
